* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  #i7ig {
    display: none;
  }
  #ie7l6 {
    color: black;
    width: 125px;
  }
  #i0ejv {
    display: inline-block;
    padding: 5px;
    min-height: 50px;
    min-width: 50px;
  }
  #i5jff {
    font-family: Unbounded, sans-serif;
    color: #808080;
    font-size: 15px;
  }
  #irmn3 {
    margin: 0px 0px 0px 15px;
  }
  #ipsz2 {
    color: #808080;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
  }
  #io7yl {
    margin: 0px 0px 0px 15px;
  }
  #i5pri {
    color: #808080;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
  }
  #i142s {
    margin: 0px 0px 0px 15px;
  }
  #idpoo {
    color: #808080;
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 0px 15px;
    font-family: Unbounded, sans-serif;
  }
  #ipw1i {
    margin: 0px 0px 0px 0;
    font-family: Unbounded, sans-serif;
    color: #808080;
  }
  #i2ugb {
    color: #808080;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    margin: 0px 0px 0px 15px;
    font-weight: 400;
  }
  #iwf1b {
    margin: 0px 0px 0px 0;
    font-family: Unbounded, sans-serif;
    color: #808080;
  }
  #ivusg {
    font-family: Unbounded, sans-serif;
    color: #808080;
    font-size: 15px;
    font-weight: 400;
  }
  #im9e-2 {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
  }
  #idb5k {
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #808080;
  }
  #insni {
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #808080;
  }
  #i963k {
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #808080;
  }
  #ietii {
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    color: #808080;
    font-weight: 400;
  }
  #if3t1 {
    font-size: 15px;
    color: #808080;
    font-family: Unbounded, sans-serif;
    font-weight: 400;
  }
  #iqnfs {
    font-size: 15px;
    color: #808080;
  }
  #ivusg:hover {
    color: #ff8b00;
  }
  #idpoo:hover {
    color: #ff8b00;
  }
  #idb5k:hover {
    color: #ff8b00;
  }
  #insni:hover {
    color: #ff8b00;
  }
  #i963k:hover {
    color: #ff8b00;
  }
  #i2ugb:hover {
    color: #ff8b00;
  }
  #ietii:hover {
    color: #ff8b00;
  }
  #if3t1:hover {
    color: #ff8b00;
  }
  #iqnfs:hover {
    color: #ff8b00;
  }
  #ipsz2:hover {
    color: #ff8b00;
  }
  #i5pri:hover {
    color: #ff8b00;
  }
  #i5jff:hover {
    color: #ff8b00;
  }
  .sunnydays_link_active {
    color: #ff8b00 !important;
    border-bottom: 3px solid;
    border-color: #ff8b00;
  }
  .sunnydays_awesome_chuongtrinh {
    margin-left: 5px;
  }
  .sunnydays_awesome_tienich {
    margin-left: 5px;
  }
  @media (max-width: 992px) {
    #i5jff {
      font-size: 15px;
    }
    #i5pri {
      font-size: 15px;
    }
    #ipsz2 {
      font-size: 15px;
    }
    #i2ugb {
      font-size: 15px;
      margin: 0px 0px 0px 0;
    }
    #idpoo {
      font-size: 15px;
      font-family: Unbounded, sans-serif;
      margin: 0px 0px 0px 0;
    }
    #ivusg {
      font-size: 15px;
    }
    #ipw1i {
      margin: 0px 0px 0px 5px;
    }
    #iwf1b {
      margin: 0px 0px 0px 5px;
    }
    #io7yl {
      margin: 0px 0px 0px 5px;
    }
    #i142s {
      margin: 0px 0px 0px 5px;
    }
    #irmn3 {
      margin: 0px 0px 0px 5px;
    }
    #idb5k {
      font-size: 15px;
    }
    #insni {
      font-size: 15px;
    }
    #i963k {
      font-size: 15px;
    }
    #ietii {
      font-size: 15px;
    }
    #if3t1 {
      font-size: 15px;
    }
    #iqnfs {
      font-size: 15px;
    }
  }
  @media (max-width: 480px) {
    #ie7l6 {
      width: 95px;
    }
    #ifmy {
      background-repeat: repeat;
      background-position: left top;
      background-attachment: scroll;
      background-size: auto;
      background-image: linear-gradient(#ff8b00 0%, #ff8b00 100%);
    }
    #ipw1i {
      margin: 0px 0px 0px 0;
    }
    #iwf1b {
      margin: 0px 0px 0px 0;
    }
    #io7yl {
      margin: 0px 0px 0px 0;
    }
    #i142s {
      margin: 0px 0px 0px 0;
    }
    #irmn3 {
      margin: 0px 0px 0px 0;
    }
    #idpoo {
      margin: 0px 0px 0px 0;
    }
    #i2ugb {
      margin: 0px 0px 0px 0;
    }
  }
  #dvloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: var(--white-color);
    z-index: 9999;
    text-align: center;
  }
  #dvloader image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
  @media only screen and (max-width: 625px) {
    .sunnyday_footer {
      margin-bottom: -10px;
    }
  }
  #dvloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: var(--white-color);
    z-index: 9999;
    text-align: center;
  }
  #dvloader image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
  }

  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  #myModal {
    display: block;
    color: #000000;
    border-radius: 0 0px 0px 0px;
  }
  .form-group.required .control-label:after {
    content: "*";
    color: red;
  }
  #i2a43 {
    display: none;
  }
  #i6uu {
    text-align: left;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#ff8b00 0%, #ff8b00 100%);
    border-radius: 50px 50px 50px 50px;
    padding: 0px 0px 55px 0px;
  }
  #location_id_submission {
    color: #808080;
    font-family: Unbounded, sans-serif;
    font-weight: 400;
    border-radius: 15px 15px 15px 15px;
  }
  #isnnp {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    /* background-image: url("/panel/laravel_page/images/2024-02-23-11:02:37-button-register-popup-0123.png"); */
    font-size: 120%;
    width: 55%;
    height: 50px;
    margin: 15px 0px 0% 25%;
  }
  #igejw {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#ff8b00 0%, #ff8b00 100%);
    border-radius: 50px 50px 50px 50px;
  }
  #iii8i {
    color: #ffffff;
    font-family: Unbounded, sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    width: 100%;
  }
  #ialgh {
    text-align: center;
    border: 0 none black;
    margin: 0px 0px 25px 0px;
    float: none;
    position: static;
    padding: 0px 0 0 0;
  }
  #ijkwa {
    width: 128px;
    height: 64px;
    margin: 10% 0px 5% 36%;
  }
  #phone_number_submission {
    font-family: Unbounded, sans-serif;
    color: #808080;
    border-radius: 15px 15px 15px 15px;
  }
  #fullname_submission {
    font-family: Unbounded, sans-serif;
    color: #808080;
    border-radius: 15px 15px 15px 15px;
  }
  #i3zk9 {
    border: 0 none black;
    padding: 0px 50px 0px 50px;
  }
  ::placeholder {
    color: #808080 !important;
  }
  ::-webkit-input-placeholder {
    color: #808080 !important;
  }
  input::-webkit-input-placeholder {
    color: #808080 !important;
  }
  @media (max-width: 480px) {
    #iii8i {
      margin: 0px 0px 0px 0;
      font-size: 120%;
    }
    #isnnp {
      width: 100%;
      margin: 0% 0px 0% 0;
      height: 65px;
    }
    #i3zk9 {
      padding: 0px 15px 0px 15px;
    }
    #i6uu {
      text-align: left;
    }
    #ijkwa {
      margin: 10% 0px 5% 25%;
      text-align: center;
    }
  }

  * {
    box-sizing: border-box;
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
}
.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}
#i93r {
    padding: 10px 10px 10px 10px;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#808080 0%, #808080 100%);
    color: white;
}
#inazg {
    color: black;
    text-align: left;
    max-width: 55%;
    float: left;
    margin: 10px 10px 0px 10px;
}
#i6xu {
    text-align: center;
}
#i26s1 {
    padding: 10px 10px 0 10px;
    margin: 10px 10px 0 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#irsqv {
    padding: 10px 10px 0 10px;
    margin: 0px 10px 0 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#iiaej {
    padding: 10px 10px 30px 10px;
    margin: 10px 10px 10px 10px;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 600;
}
#ietvf {
    padding: 10px 10px 0 10px;
    margin: 10px 10px 0 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#in281 {
    padding: 10px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#ipgd7 {
    padding: 10px 10px 0px 10px;
    margin: 0 10px 0px 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#i13wr {
    padding: 10px 10px 0 10px;
    margin: 0px 10px 0 10px;
    font-family: Unbounded, sans-serif;
    font-size: 13px;
    font-weight: 300;
}
#igkxs {
    padding: 10px 10px 0 10px;
    margin: 0px 10px 0 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#ipptt {
    padding: 10px 10px 0 10px;
    margin: 0px 10px 0 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#ias0v {
    padding: 10px 10px 30px 10px;
    margin: 10px 10px 10px 10px;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 600;
}
#i426o {
    padding: 10px 10px 0 10px;
    margin: 0px 10px 0 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#iwuqw {
    padding: 10px 10px 0 10px;
    margin: 10px 10px 0 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#ibmp6 {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#808080 0%, #808080 100%);
    border: 0 solid white;
    color: white;
}
#iydmp {
    min-height: 0px;
}
#iuu6j {
    text-align: center;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 15px;
}
#iyg4z {
    padding: 10px 10px 0 10px;
    margin: 0px 10px 0 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    font-size: 13px;
}
#i81ii {
    padding: 10px 10px 0 10px;
    margin: 0px 10px 0 10px;
    font-family: Unbounded, sans-serif;
    font-size: 13px;
    font-weight: 300;
}
#i22qb {
    margin: 5px;
    max-width: 100%;
    cursor: pointer;
}
#i3upy {
    float: left;
    margin: 10px 10px 10px 10px;
    max-width: 100%;
}
#ihs39 {
    padding: 13px 10px 10px 10px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    font-family: Unbounded, sans-serif;
    font-weight: 700;
    font-size: 27px;
    float: right;
}
#ikwlv {
    margin: 0px 10px 0 10px;
    padding: 0px 0px 0px 0;
}
#id18v {
    min-height: 0px;
    padding: 10px 0px 20px 10px;
}
#igy3i {
    color: black;
    display: inline-block;
    width: 25px;
    margin: 0px 0px 0px 7px;
}
#ir0ju {
    color: black;
    display: inline-block;
    width: 25px;
}
#ifuhv {
    color: black;
    display: inline-block;
    width: 25px;
    margin: 0px 0px 0px 7px;
}
#ixftm {
    margin: 0 10px 10px 10px;
    padding: 0px 0px 0px 0;
}
#i3tmb {
    padding: 10px;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 600;
}
#i7yyl {
    color: black;
    max-width: 95px;
    margin: 0px 0px 0px 10px;
}
#iezw4 {
    margin: 0px 0px 0px 0;
}
#inxwc {
    padding: 10px;
    margin: 10px 10px 0px 10px;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 600;
}
#im6tk {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#808080 0%, #808080 100%);
}
#ivkp3 {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#ff8b00 0%, #ff8b00 100%);
    border: 0px solid black;
    color: #ffffff;
    padding: 0px 10px 0 10px;
    z-index: 15;
}
#iae8v {
    flex-basis: 75%;
}
#i2438 {
    flex-basis: 25%;
}
#io5nd {
    padding: 0px 235px 0 0px;
}
#ivkp3 {
    z-index: 15;
}
@media (max-width: 768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}
@media (max-width: 480px) {
    #iezw4 {
        margin: 0px 0px 0px 0;
        padding: 0px 0px 0px 0;
    }
    #irqx {
        display: inline-block;
        position: static;
        width: 100%;
    }
    #i93r {
        padding: 10px 10px 10px 10px;
    }
    #i2td {
        max-width: 100%;
    }
    #ihs39 {
        font-size: 23px;
        margin: 0px 10px 0 10px;
        text-align: center;
        padding: 0 10px 0px 10px;
        float: none;
    }
    #i22qb {
        max-width: 255px;
        cursor: pointer;
    }
    #i3upy {
        max-width: 100%;
        float: none;
        text-align: center;
    }
    #iuu6j {
        font-size: 13px;
        margin: 20px 0px 0px 0px;
    }
    #io5nd {
        padding: 10px 10px 0 10px;
        display: block;
    }
    #i2438 {
        min-height: 0px;
    }
    #iefk2 {
        min-height: 0px;
    }
    #iae8v {
        min-height: 0px;
        padding: 0 0px 0px 0px;
        text-align: center;
    }
    #i6xu {
        padding: 0px 0px 0 0px;
        min-height: 115px;
    }
    #iiaej {
        padding: 10px 10px 0 10px;
    }
    #ias0v {
        padding: 30px 10px 0 10px;
    }
    #i3tmb {
        padding: 20px 10px 10px 10px;
    }
}
  
    